.banner-container {
  display: flex;
  justify-content: space-evenly;
  background-color: aliceblue;
}

.usp-block {
  padding: 5px;
  /* margin-bottom: 10px; */
}

.usp-block-item {
  margin: 2rem;
}
