.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5%;
}

.card-image {
  flex: 1;
  border: black;
  align-items: center;
}
/* 
.card-image-img {
  flex: 1;
} */

.card-content {
  flex: 1;
  align-items: flex-end;
}

.product-price {
  font-weight: bold;
  color: orangered;
}

.card-action {
  text-align: center;
}
